EXPO_PUBLIC_API_URL=http://localhost:4000

# Google OAuth client IDs from Google Cloud Console
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=727727862739-o3c8mca5v11tfj75bftphnhe57k4c4of.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=727727862739-41r4kkch5pvh0vg8i9lkj9mrij90bfqv.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
